*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* to make the font open sans alike */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    /* when applying background property we have to put url("") inside ""we have to put the url */
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}
.logo h2{
    font-size: 45px;
    font-weight:900;
}
.color-orange{
    color: #FD6E0A;
}
nav{
    margin: 0px auto;
    width: 71%;
    max-width: 1140px;
    display: flex;
    /* to get max distance frm the two div */
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    list-style: none;
    display: flex;
    gap: 51px;
    /* it is given to make the other div inside the parent class to be in center */
    align-items: center;       
}
nav .menu a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
nav .menu .btn{
    /* width: 150px;
    height: 65px; */
    padding: 18px 35px;
    
}
.banner{
    display: flex;
    padding: 46px 37px 0px 230px;
    justify-content: space-between;
    align-items: center;
}
.banner .text-container{
    max-width: 585px;
}
.banner .text-container h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner .text-container h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #181818 ;
}
p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
.text-container .button-container{
    display: flex;
    gap: 30px;
}
.text-container .button-container .btn{
    height: 64px;
    width: 200px;
}
.text-container .button-container #contact{
    height: 64px;
    width: 160px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF8F3;
}
.image-container img{
    width:584px;
    height: 676px;
    /* it is given to remove the slight gap between the image  */
    vertical-align: bottom;
}
.about{
    border-radius: 10px;
    margin: 118px auto 0px auto;
    width: 71%;
    max-width: 1140px;
    max-height: 550px;
    background-color: #FFF8F3;
}
.about .about-container{
    padding: 131px 156px;
    text-align: center;
}
.about .about-container h3{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
}
.about .about-container .info{
    display: flex;
    padding: 0px 22.5px;
    justify-content: space-between;
}
.about .about-container .info p{
    font-size: 20px;
    margin-bottom: 0px;
}
.about .about-container .info h4{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
}
#what-do{
    padding-top: 130px;
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
}
#what-do h3{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
}
#what-do p{
    text-align: center;
    margin: 0 auto;
    max-width: 827px;
    margin-bottom: 50px;
}
#what-do .card-container{
    display: flex;
    gap: 24px;
}
#what-do .card-container div{
    max-width: 267px;
    max-height: 377px;
    border-radius: 5px;
    box-shadow: 0 6px 50px #0000001d;
    padding: 30px;
}
.card-container img{
    width: 44px;
    margin-bottom: 30px;
}
.card-container h5{
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 20px;
}
.card-container p{
   font-size: 16px;
   line-height: 28px;
}
#qualification h2{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 113px;
}
#qualification .resume-container{
    display: flex;
    gap: 24px;
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.resume-container .education-details , .job-details{
    max-width: 511px;
    margin-right: 71px; 
}
.resume-container h3{
    color: #474747;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 30px;
}
.resume-container h4{
    color: #474747;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}
.resume-container h5{
    color: #474747;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 20px;
}
.resume-container p{
    font-size: 16px;
   line-height: 28px;
}
.resume-container hr{
    margin-bottom: 30px;
}
#qualification .btn{
    height: 64px;
    width: 200px;
    margin: 50px 700px 113px 700px ;
}
#form{
    background-color: #FFF8F3;
}
#form .form-container{
    width: 71%;
    max-width: 1140px;
    padding-top: 130px;
    margin: 0 auto;
    gap: 117px;
    display: flex;
}
.form-container .connect{
    max-width: 562px;
}
#form .connect .heading{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.form-container .connect p{
   font-size: 16px;
   line-height: 28px;
   margin-bottom: 30px;
}
.form-container .connect img{
    max-width: 24px;
    margin-right: 24px;
}
.form-container .message{
    max-width: 461px;
}
.form-container .message form{
    padding-top: 28px;
}
#form .message input[type="text"] , #form .message textarea {
    display: block;
    width: 461px;
    padding: 30px 18px;
    background-color: white;
    color: #757575;
    border: none;
    border-radius: 5px;
    margin-bottom: 24px;
}
#form .message .btn{
    height: 64px;
    width: 150px;
    margin-bottom:130px ;
}